<!DOCTYPE html>
<html lang="zxx" xmlns="http://www.w3.org/1999/html">
{% load static %}

<head>
	<title>Quality Fresh Meats Online-booking</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		content="Tasty Burger Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="{%static 'css/bootstrap.css' %}">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{%static 'css/style.css' %}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="{%static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link
		href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext"
		rel="stylesheet">
	<link
		href="//fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">
	<!-- //Web-Fonts -->


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>

<body>
	<!-- header -->
	<header id="home">
		<!-- top-bar -->

<!--		<div class="top-bar py-2 border-bottom">-->
<!--			<div class="container">-->
<!--				<div class="row middle-flex">-->
<!--					<div class="col-xl-7 col-md-5 top-social-agile mb-md-0 mb-1 text-lg-left text-center">-->
<!--						<div class="row">-->
<!--							<div class="col-xl-3 col-6 header-top_w3layouts">-->
<!--								<p class="text-da">-->
<!--									<span class="fa fa-map-marker mr-2"></span>Cochin, Kerala-->
<!--								</p>-->
<!--							</div>-->
<!--							<div class="col-xl-3 col-6 header-top_w3layouts">-->
<!--								<p class="text-da">-->
<!--									<span class="fa fa-phone mr-2"></span>+91 9605932427-->
<!--								</p>-->
<!--							</div>-->
<!--							<div class="col-xl-6"></div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="col-xl-5 col-md-7 top-social-agile text-md-right text-center pr-sm-0 mt-md-0 mt-2">-->
<!--						<div class="row middle-flex">-->
<!--							<div class="col-lg-12 col-4 top-w3layouts p-md-0 text-right">-->
<!--								&lt;!&ndash; login &ndash;&gt;-->
<!--								<a href="login" class="btn login-button-2 text-uppercase text-wh">-->
<!--									<span class="fa fa-sign-in mr-2"></span>Login</a>-->
<!--								&lt;!&ndash; //login &ndash;&gt;-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
	</header>

	<!-- //top-bar -->

	<!-- header 2 -->
	<!-- navigation -->
	<div class="main-top py-1">
		<div class="container">
			<div class="nav-content">
				<!-- logo -->
				<h1>
					<a id="logo" class="logo" href="home">
						<img src="{%static 'images/logo1.jpg' %}" height="350px" width="250px" alt="" class="img-fluid">
					</a>
				</h1>
				<!-- //logo -->
				<!-- nav -->
				<div class="nav_web-dealingsls">
					<nav>
						<label for="drop" class="toggle">Categories</label>
						<input type="checkbox" id="drop" />
						<ul class="menu">
							<li><a href="home">Home</a></li>
							<li><a href="about">About Us</a></li>
<!--							<li><a class="drop-text" href="offers">Special Offers</a></li>-->
							<li><a href="category">Categories</a></li>
							<li><a href="contact">Contact Us</a></li>
						</ul>
					</nav>
				</div>
				<!-- //nav -->
			</div>
		</div>
	</div>
	<!-- //navigation -->
	<!-- //header 2 -->

	<!-- banner -->
<!--	<div>-->
<!--		<img src="{%static 'images/login-banner.jpg' %}" style="height:350px;width:1473px;">-->
<!--	</div>-->
	<!-- //banner -->
	<!-- page details -->
	<div class="breadcrumb-agile bg-light py-2">
		<ol class="breadcrumb bg-light m-0">
			<li class="breadcrumb-item">
				<a href="home">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Login Page</li>
		</ol>
	</div>
	<!-- //page details -->

	<!-- message -->
	{% if messages %}
	<div class="container">
		<div class="alert alert-success alert-dismissible messages">
			{% for message in messages %}
				<button type="button" class="close" data-dismiss="alert">🞭</button>
			 {{message}}
	  	</div>
		 {% endfor %}
	</div>
	{% endif %}
	<!-- //message -->

	<!-- login -->
	<div class="login-contect py-5">
		<div class="container py-xl-5 py-3">
			<div class="login-body">
				<div class="login p-4 mx-auto">
					<form action="#" method="post">
						{% csrf_token %}
						<div class="form-group">
							<center><h3><b>LOGIN - USER</b></h3>
								<a href="login_delivery" style="color:red;"><u>Login as Delivery Person</u></a></center>
							<br>
							<br>
							<label>UserName</label>
							<input type="text" class="form-control" name="username" placeholder="" required="">
						</div>
						<div class="form-group">
							<label class="mb-2">Password</label>
							<input type="password" class="form-control" name="password" placeholder="" required="">
						</div>
						<button type="submit" class="btn submit mb-4">Login</button>
						<p class="forgot-w3ls text-center mb-3">
							<a href="../forgot" class="text-da">Forgot your password?</a>
						</p>
						<p class="account-w3ls text-center text-da">
							Don't have an account?
							<a href="register" style="margin-left:10px;">Create one now</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- //login -->

	<!-- footer -->
	<footer class="py-5">
		<div class="container py-xl-4">
			<div class="row footer-top">
				<div class="col-lg-4 footer-grid_section_1its footer-text">
					<!-- logo -->
					<h2>
						<a class="logo text-wh" href="">
							<img src="{%static 'images/logo.jpg' %}" height="200px" width="100px" alt="logo" class="img-fluid"><span>Quality</span> Meats
						</a>
					</h2>
					<!-- //logo -->
					<p class="mt-lg-4 mt-3 mb-lg-5 mb-4">Quality meats are characterized by their tenderness,
						succulence, and superior flavor profile.</p>
					<!-- social icons -->
				</div>
				<div class="col-lg-4 footer-grid_section_1its my-lg-0 my-sm-4 my-4">
					<div class="footer-title">
						<h3>Contact Us</h3>
					</div>
					<div class="footer-text mt-4">
						<p>Address : ABC Building, Kadavanthra, Cochin, Eranakulam, Kerala</p>
						<p class="my-2">Phone : +91 9605932427</p>
						<p>Email : <a href="mailto:baconbonanza.meatshop@gmail.com">baconbonanza.meatshop@gmail.comm</a></p>
					</div>
					<div class="footer-title mt-4 pt-md-2">
						<h3>Payment Method</h3>
					</div>
					<ul class="list-unstyled payment-links mt-4">
						<li>
							<a href="login"><img src="{%static 'images/cod_image.png' %}" alt="py1" height="25px" width="100px"></a>
						</li>
						<li>
							<a href="login."><img src="{%static 'images/razorpay_image.png' %}" alt="py2" height="25px"></a>
						</li>

					</ul>
				</div>
				<div class="col-lg-4 footer-grid_section_1its">
					<div class="footer-title">
						<h3>Services</h3>
					</div>
					<div class="footer-text mt-4">
						<p>Free Shipping</p>
						<p>24/7 Support</p>
						<p>Cash On Delivery & Online Payment Available</p>
						<p>No Return/Refund Policies</p>
						<p>Quality Assurance</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- //footer -->
	<!-- copyright -->
	<div class="cpy-right text-center py-3">
		<p>© 2024 Quality Meats. All rights reserved | Design by
			<a href=""> Avani.V</a>
		</p>
	</div>
	<!-- //copyright -->

</body>

</html>