<!DOCTYPE html>
<html lang="zxx">
{% load static %}

<head>
    <title>Quality Fresh Meats Online-booking</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Fresh Meats" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom-Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Razorpay checkout -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="{% static 'js/checkout.js' %}"></script>
    <!-- Bootstrap JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .text-font {
            font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
            font-weight: 700;
            letter-spacing: .156rem;
        }

        .text-price {
            padding: 0 .625rem;
            font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
            font-style: normal;
            font-size: 15px;
            font-weight: 700;
            line-height: .813rem;
            letter-spacing: 1.6px;
        }

        .text-descriptions {
            font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
            font-style: normal;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.125rem;
            margin: .313rem 0 .938rem;
            padding: 0 .625rem;
        }

        .button-color {
            color: #4e4e4e;
            border-color: #4e4e4e;
        }

        #rzp-button1{
            font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
            font-style: normal;
            font-size: 15px;
            font-weight: 700;
            background-color: hsl(90, 40%, 50%);
            color: white;
        }
        #cod-button1{
            font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
            font-style: normal;
            font-size: 15px;
            font-weight: 700;
            background-color: hsl(30, 60%, 40%);
            color: white;
        }
    </style>
</head>

<body>
    <!-- Header -->
    <header id="home">
        <div class="top-bar py-2 border-bottom">
            <div class="container">
                <div class="row middle-flex">
                    <div class="col-xl-7 col-md-5 top-social-agile mb-md-0 mb-1 text-lg-left text-center">
                        <div class="row">
                            <div class="col-xl-3 col-6 header-top_w3layouts">
                                <p class="text-da">
                                    <span class="fa fa-map-marker mr-2"></span>Cochin, Kerala
                                </p>
                            </div>
                            <div class="col-xl-3 col-6 header-top_w3layouts">
                                <p class="text-da">
                                    <span class="fa fa-phone mr-2"></span>+91 9605932427
                                </p>
                            </div>
                            <div class="col-xl-6"></div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-md-7 top-social-agile text-md-right text-center pr-sm-0 mt-md-0 mt-2">
                        <div class="row middle-flex">
                            <div class="col-lg-12 col-4 top-w3layouts p-md-0 text-right">
                                <!-- User profile -->
                                <a href="../../my_profile" style="margin-right:15px;">
                                    <img src="{% static 'images/user-profile.png' %}" height="30px" width="30px"></a>
                                <!-- Logout -->
                                <a href="../../home" class="btn login-button-2 text-uppercase text-wh">
                                    <span class="fa fa-sign-out mr-2"></span>Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Navigation -->
    <div class="main-top py-1">
        <div class="container">
            <div class="nav-content">
                <!-- Logo -->
                <h1>
                    <a id="logo" class="logo" href="../user_home">
                        <img src="{% static 'images/logo1.jpg' %}" alt="logo" class="img-fluid" height="350px" width="250px">
                    </a>
                </h1>
                <!-- Nav -->
                <div class="nav_web-dealingsls">
                    <nav>
                        <label for="drop" class="toggle">Categories</label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu">
                            <li><a href="../../user_home">Home</a></li>
                            <li><a href="../../user_category">Categories</a></li>
<!--                            <li><a class="drop-text" href="../../user_offer">Offers</a></li>-->
                            <li class="nav-item"><a href="../../cart" class="fa fa-shopping-cart">Cart
                                <span class="badge badge-pill badge-danger">{% if data %}{{ data.count }}{% else %}0{% endif %}</span></a></li>
                            <li class="nav-item"><a href="../../wishlist" class="fa fa-heart">Wishlist</a></li>
                            <li><a href="../../user_feedback">Feedback</a></li>
                            <li><a href="../../user_my_orders"><img src="{% static 'images/shopping-bag.png' %}" height="15px" width="15px"> My Orders</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Details -->
    <div class="breadcrumb-agile bg-light py-2">
        <ol class="breadcrumb bg-light m-0">
            <li class="breadcrumb-item">
                <a href="../../user_home">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Single-Booking</li>
        </ol>
    </div>

    <!-- Single Order Page -->
    <div class="container-fluid" style="padding-left:6%;padding-right:6%;padding-top:3%;">
        <form action="../../single_booking/{{pdata.pk}}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="ca">
                                <br>
                                <h3 align="center">DELIVERY ADDRESS</h3>
                                <br><br>
                                <!-- Delivery Address -->
                                <div class="card-body">
                                    <div class="row mb-4">
                                        <div class="col">
                                            <label class="form-label" >First name<span class="text-danger">*</span></label>
                                            <input type="text" name="sofname" class="form-control" value="{{ data.u_name }}" required />
                                        </div>
                                        <div class="col">
                                            <label class="form-label" for="form11Example2">Last name (Optional)</label>
                                            <input type="text" id="form11Example2" class="form-control" name="solname" value="{{ data.lname }}" />
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label for="c_email_address" class="text-black">Email Address <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="c_email_address" name="semail" value="{{ data.email }}" required readonly>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="text-black">Address <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="sadrs" value="{{ data.u_address }}" placeholder="Street address" required>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-sm-6">
                                            <label class="text-black">District <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" name="sdistrict" value="{{ data.u_district}}" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="text-black">City <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" name="scity" value="{{ data.u_city }}" required>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-sm-6">
                                            <label class="form-label">Contact number<span class="text-danger">*</span></label>
                                            <input type="number" name="sphone" class="form-control" value="{{ data.u_phno }}" required />
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="text-black">PinCode <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" name="spincode" value="{{ data.u_pincode }}" required>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="text-black">Order Notes (Optional)</label>
                                        <input type="text" name="add_det" style="height:150px;" class="form-control" placeholder="Notes about your order, e.g. special notes for delivery.">
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>

                        <!-- Product Card -->
                        <div class="col-sm-4">
                            <div class="card" style="background-color:#f3f3f3;">
                                <img style="margin:18px;" src="{{pdata.pro_img.url}}" height="200px" width="225px">
                                <div class="card-body">
                                    <h5 class="card-title text-font">{{ pdata.pro_name }}</h5>
                                    <h5 class="card-title text-price">₹{{ pdata.price }} /-</h5>
                                    <input type="hidden" value="{{ pdata.price }}" name="amount">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Price Calculation -->
                <div class="col-sm-4">
                    <div class="card" style="border: 2px solid green;">
                        <div class="card-body">
                            <h3>PRICE DETAILS</h3>
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ pdata.pro_name }}</td>
                                        <td>₹{{ pdata.price }}</td>
                                    </tr>
                                    <tr>
                                        <td>Shipping charges</td>
                                        <td style="color:green;">Free</td>
                                    </tr>
                                    <tr>
                                        <td><b>TOTAL</b></td>
                                        <td><b>₹{{pdata.price}}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="hidden" value="{{ pdata.price}}" name="total">
                        </div>
                    </div>

                    <br>
                    	<div class="payment-method">
						<input type="hidden" value="COD" name="payment_mode">
					</div>
                    <button type="submit" id="cod-button1" class="btn btn-success btn-lg btn-block button-order">CASH ON DELIVERY</button>

                    <br>
<!--                    <input type="button" name="Razorpay" hidden="hidden">-->
<!--                    <a href="razor_pay"><button type="button" id="rzp-button1" class="btn btn-success btn-lg btn-block button-order">Proceed to Pay</button></a>-->
                </div>
            </div>
        </form>
    </div>

    <script>
        const form = document.querySelector('form');
        const rzpButton = document.getElementById('rzp-button1');

        rzpButton.addEventListener('click', function (e) {
            e.preventDefault();
            const rzp = new Razorpay({
                "key": "{{ rzp_key }}",
                "amount": document.querySelector('input[name="total"]').value * 100,
                "currency": "INR",
                "name": "Fresh Meats",
                "description": "Test Transaction",
                "image": "{%static 'images/logo1.jpg' %}",
                "handler": function (response) {
                    form.submit();
                },
                "prefill": {
                    "name": "{{ data.u_name }}",
                    "email": "{{ data.email }}",
                    "contact": "{{ data.phonenumber }}"
                },
                "notes": {
                    "address": "{{ data.address }}"
                },
                "theme": {
                    "color": "#3399cc"
                }
            });
            rzp.open();
        });
    </script>
<!--//single order page-->

<!--online payment-->

    <div class="container-fluid" style="padding-left:6%;padding-right:6%;padding-top:3%;">
        <form action="../../single_razor/{{pdata.pk}}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-8" hidden="hidden">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="ca">
                                <br>
                                <h3 align="center">DELIVERY ADDRESS</h3>
                                <br><br>
                                <!-- Delivery Address -->
                                <div class="card-body">
                                    <div class="row mb-4">
                                        <div class="col">
                                            <label class="form-label" >First name<span class="text-danger">*</span></label>
                                            <input type="text" name="sofname" class="form-control" value="{{ data.u_name }}" required />
                                        </div>
                                        <div class="col">
                                            <label class="form-label" for="form11Example2">Last name (Optional)</label>
                                            <input type="text" id="form13Example1" class="form-control" name="solname" value="{{ data.lname }}" />
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label for="c_email_address" class="text-black">Email Address <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="c1_email_address" name="semail" value="{{ data.email }}" required readonly>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label  class="text-black">Address <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="sadrs" value="{{ data.u_address }}" placeholder="Street address" required>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-sm-6">
                                            <label class="text-black">District <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" name="sdistrict" value="{{ data.u_district}}" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="text-black">City <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" name="scity" value="{{ data.u_city }}" required>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-sm-6">
                                            <label class="form-label">Contact number<span class="text-danger">*</span></label>
                                            <input type="number" name="sphone" class="form-control" value="{{ data.u_phno }}" required />
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="text-black">PinCode <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" name="spincode" value="{{ data.u_pincode }}" required>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="text-black">Order Notes (Optional)</label>
                                        <input type="text" name="add_det" style="height:150px;" class="form-control" placeholder="Notes about your order, e.g. special notes for delivery.">
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>

                        <!-- Product Card -->
                        <div class="col-sm-4">
                            <div class="card" style="background-color:#f3f3f3;">
                                <img style="margin:18px;" src="{{pdata.pro_img.url}}" height="200px" width="225px">
                                <div class="card-body">
                                    <h5 class="card-title text-font">{{ pdata.pro_name }}</h5>
                                    <h5 class="card-title text-price">₹{{ pdata.price }} /-</h5>
                                    <input type="hidden" value="{{ pdata.price }}" name="amount">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Price Calculation -->
                <div class="col-sm-4">
                    <div class="card" style="border: 2px solid green;" hidden="hidden">
                        <div class="card-body">
                            <h3>PRICE DETAILS</h3>
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ pdata.pro_name }}</td>
                                        <td>₹{{ pdata.price }}</td>
                                    </tr>
                                    <tr>
                                        <td>Shipping charges</td>
                                        <td style="color:green;">Free</td>
                                    </tr>
                                    <tr>
                                        <td><b>TOTAL</b></td>
                                        <td><b>₹{{pdata.price}}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="hidden" value="{{ pdata.price}}" name="total">
                        </div>
                    </div>

                    <br>
<!--                    <input type="button" name="COD" hidden="hidden">-->
<!--                    <button type="submit" id="cod-button1" class="btn btn-success btn-lg btn-block button-order">CASH ON DELIVERY</button>-->

                    <br>
                	<div class="payment-method">
						<input type="hidden" value="Razorpay" name="payment_mode">
					</div>

                        <button type="submit" id="rzp-button1" class="btn btn-success btn-lg btn-block button-order" style="position:absolute;right:-868px;bottom:440px; width:410px;">PROCEED TO PAY</button>

                </div>
            </div>
        </form>
    </div>

    <script>
        const form = document.querySelector('form');
        const rzpButton = document.getElementById('rzp-button1');

        rzpButton.addEventListener('click', function (e) {
            e.preventDefault();
            const rzp = new Razorpay({
                "key": "{{ rzp_key }}",
                "amount": document.querySelector('input[name="total"]').value * 100,
                "currency": "INR",
                "name": "Fresh Meats",
                "description": "Test Transaction",
                "image": "{%static 'images/logo1.jpg' %}",
                "handler": function (response) {
                    form.submit();
                },
                "prefill": {
                    "name": "{{ data.u_name }}",
                    "email": "{{ data.email }}",
                    "contact": "{{ data.phonenumber }}"
                },
                "notes": {
                    "address": "{{ data.address }}"
                },
                "theme": {
                    "color": "#3399cc"
                }
            });
            rzp.open();
        });
    </script>
<!--//online payment-->

<!-- footer -->
	<footer class="py-5">
		<div class="container py-xl-4">
			<div class="row footer-top">
				<div class="col-lg-4 footer-grid_section_1its footer-text">
					<!-- logo -->
					<h2>
						<a class="logo text-wh" href="">
							<img src="{%static 'images/logo.jpg' %}" height="200px" width="100px" alt="logo" class="img-fluid"><span>Quality</span> Meats
						</a>
					</h2>
					<!-- //logo -->
					<p class="mt-lg-4 mt-3 mb-lg-5 mb-4">Quality meats are characterized by their tenderness,
						succulence, and superior flavor profile.</p>
					<!-- social icons -->
				</div>
				<div class="col-lg-4 footer-grid_section_1its my-lg-0 my-sm-4 my-4">
					<div class="footer-title">
						<h3>Contact Us</h3>
					</div>
					<div class="footer-text mt-4">
						<p>Address : ABC Building, Kadavanthra, Cochin, Eranakulam, Kerala</p>
						<p class="my-2">Phone : +91 9605932427</p>
						<p>Email : <a href="mailto:baconbonanza.meatshop@gmail.com">baconbonanza.meatshop@gmail.com</a></p>
					</div>
					<div class="footer-title mt-4 pt-md-2">
						<h3>Payment Method</h3>
					</div>
					<ul class="list-unstyled payment-links mt-4">
						<li>
							<a href="login"><img src="{%static 'images/cod_image.png' %}" alt="py1" height="25px" width="100px"></a>
						</li>
						<li>
							<a href="login."><img src="{%static 'images/razorpay_image.png' %}" alt="py2" height="25px"></a>
						</li>

					</ul>
				</div>
				<div class="col-lg-4 footer-grid_section_1its">
					<div class="footer-title">
						<h3>Services</h3>
					</div>
					<div class="footer-text mt-4">
						<p>Free Shipping</p>
						<p>24/7 Support</p>
						<p>Cash On Delivery & Online Payment Available</p>
						<p>No Return/Refund Policies</p>
						<p>Quality Assurance</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- //footer -->
	<!-- copyright -->
	<div class="cpy-right text-center py-3">
		<p>© 2024 Quality Meats. All rights reserved | Design by
			<a href=""> Avani.V</a>
		</p>
	</div>
	<!-- //copyright -->

</body>

</html>
